<div [formGroup]="form" class="form form--destroy">
  <h2 class="form__header" style="background-color: red;">
    {{ title }} Destroy
  </h2>
  <div class="destroy-action">
    <div style="margin-top: 6rem;">
      <board-alert
        message="Doing so will permanently delete this {{ title }} at {{ title }} family. Think again about your decision.">
      </board-alert>
    </div>
    <label class="form__label mt-2" style="font-size: 14px; color: #3c3c3b;">Confirm you want to delete this category by
      typing its ID:
      <span class="value-destroy">{{ value }}</span></label>
    <input type="text" style="width: 100%;" (input)="checkDestroyedName($any($event))" [placeholder]="title"
      formControlName="destroyedThing" required class="destroyedInput" />
    <board-alert *ngIf="form.controls['destroyedThing'].touched && !formValid"
      message="You didn't enter the collection ID correctly.">
    </board-alert>
  </div>
  <div class="form__btns" style="margin-top: 4rem; background-color: #fef2f2; border-top-color: red;">
    <button class="btn btn--red" (click)="onSubmit()" [disabled]="!formValid">Destroy</button>
    <button class="btn btn--gray" (click)="onClose()">Cancel</button>
  </div>
</div>