<div class="login">
  <form [formGroup]="form" class="login__form">
    <div class="login__form--left">

    </div>
    <div class="login__form--right">
      <h3 class="login__logo text-half-highlight">Blogify</h3>
      <board-tip [tipList]="['Fill in the information or you can\'t press the login button.']"></board-tip>

      <label class="form__label" style="margin-top: 1rem;">Email</label>
      <div class="login__input-group">
        <input type="email" placeholder="example@gmail.com" formControlName="email" />
        <i class="fal fa-at" style="font-size: 2rem;"></i>
      </div>
      <board-alert *ngIf="fc['email'].touched && fc['email'].invalid" message="Email invalid."></board-alert>

      <label class="form__label" style="margin-top: 2rem">Password</label>
      <div class="login__input-group">
        <input [type]="isShowPassword ? 'text' : 'password'" placeholder="*****" formControlName="password" />
        <i *ngIf="!isShowPassword" class="fas fa-eye" (click)="isShowPassword = true"></i>
        <i *ngIf="isShowPassword" class="fas fa-eye-slash" (click)="isShowPassword = false"></i>
      </div>
      <ng-container *ngIf="fc['password'].touched && fc['password'].invalid">
        <board-alert message="Password is required."></board-alert>
        <board-tip [tipList]="['At least 8 characters in length','a-z, A-Z', '0-9', 'Special characters']"></board-tip>
      </ng-container>


      <button [ngClass]="'btn btn--green ' + (form.invalid ? 'btn--avoid' : '')"
        style="margin-top: 1rem; transition: all .1s ease;" [disabled]="form.invalid" (click)="onSubmit()"
        (mouseenter)="avoidClick()" #btnLogin>Login {{
        form.invalid ? '😛' : '' }}</button>

      <div class="copyright">Copyright <i class="far fa-copyright"></i> 2023, <a href="https://github.com/Z-zenos"
          target="_blank" class="text-half-highlight">Zenos</a>. All rights reversed.</div>
    </div>
  </form>
</div>