<div class="login">
  <form [formGroup]="form" class="login__form">
    <div class="login__form--left">

    </div>
    <div class="login__form--right">
      <h3 class="login__logo">Blogify</h3>
      <h2 class="login__login-text">Login</h2>
      <board-tip [tipList]="['Fill in the information or you can\'t press the login button.']"></board-tip>

      <div class="login__input-group">
        <label class="form__label">Email</label>
        <input type="email" placeholder="example@gmail.com" formControlName="email" />
        <i class="fal fa-at" style="font-size: 2rem;"></i>
        <board-alert *ngIf="fc['email'].touched && fc['email'].invalid" message="Email invalid."></board-alert>
      </div>

      <div class="login__input-group">
        <label class="form__label">Password</label>
        <input [type]="isShowPassword ? 'text' : 'password'" placeholder="*****" formControlName="password" />
        <i *ngIf="!isShowPassword" class="fas fa-eye" (click)="isShowPassword = true"></i>
        <i *ngIf="isShowPassword" class="fas fa-eye-slash" (click)="isShowPassword = false"></i>
        <board-alert *ngIf="fc['password'].touched && fc['password'].invalid"
          message="Password is required."></board-alert>
      </div>

      <button class="btn btn--green" [disabled]="form.invalid" (click)="onSubmit()" (mouseenter)="avoidClick()"
        #btnLogin>Login {{ form.invalid ? '😛' : '' }}</button>

      <div class="copyright">Copyright <i class="far fa-copyright"></i> 2023, <a href="https://github.com/Z-zenos"
          target="_blank" class="text-half-highlight">Zenos</a>. All rights reversed.</div>
    </div>
  </form>
</div>