<form [formGroup]="form" class="form form--ctgr">
  <div class="form__input">
    <div class="form__upload--img">
      <input type="file" formControlName="logo">
    </div>
    <div>
      <input type="text" placeholder="Enter new category name" formControlName="name" />
    </div>
  </div>
  <div class="form__preview">
    <span>Preview</span>
    <div class="preview">
      Test
    </div>
  </div>
  <div class="form__btns">
    <button class="btn btn--green" (click)="onSubmit()">Create</button>
    <button class="btn btn--yellow" (click)="onClose()">Cancel</button>
  </div>
</form>