@import "../../../styles";

.post-card {
  width: 48rem;
  font-size: $small-text;
  border: 1px solid $primary-color;
  background-color: $secondary-color;
  box-shadow: rgba($green-1, 0.25) 0px 2px 5px -1px, rgba($green-2, 0.3) 0px 1px 3px -1px;
  border-radius: 7px;
  cursor: pointer;
  margin: .7rem;
  display: grid;
  grid-template-columns: 16% 82%;
  column-gap: 2%;
  padding: 1rem;
  position: relative;
  overflow: hidden;

  i {
    margin: 0 .5rem;
  }

  &__img {
    width: 7rem;
    height: 100%;
    margin-bottom: 1rem;
    overflow: hidden;

    img {
      width: 7rem;
      height: 7rem;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      transition: $transition;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__info {
    width: 100%;
    padding: 0;
    height: 100%;
    text-align: left;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primary-color;
    line-height: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    @include center-item();
  }

  &__experpt {
    font-size: 1.3rem;
    color: $black-color;
    height: 6rem;
  }

  &__tags {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    .tag {
      display: inline-block;
      font-size: 13px;
      text-decoration: underline;
      color: blue;
      margin-right: 3px;
    }
  }

  &__stats {
    font-size: $tip-text;
    margin-top: 2rem;
  }
}


.action {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 100%;
  background-color: red;
  transform: translateX(4rem);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: $transition;

  .action--edit, .action--remove {
    width: 4rem;
    height: 50%;
    padding: 1rem;
    @include center-item();
    transition: $transition;
  }

  &--edit {
    background-color: $yellow-1;
    border-top-right-radius: 7px;
    border: 1px solid $yellow-1;

    &:hover {
      color: $yellow-1;
      background-color: white;
    }
  }

  &--remove {
    background-color: red;
    border-bottom-right-radius: 7px;
    color: white;
    border: 1px solid red;

    &:hover {
      color: red;
      background-color: white;
    }
  }

  &.active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}