<div class="category">
  <div class="category__actions">
    <button class="btn btn--green" (click)="openForm('ctgr')">Create new</button>

    <div class="category__sort-box">
      <button class="btn btn--purple" (click)="isDropDown = !isDropDown">Sort By <i class="fas fa-chevron-down"
          style="margin-left: 5px;"></i></button>
      <div class="dropdown" *ngIf="isDropDown">
        <ul>
          <li>Name</li>
          <li>Date</li>
        </ul>
      </div>
    </div>

    <div class="category__search-box">
      <input type="text" placeholder="Search category name..." #seachInput />
      <button class="btn btn--green" (click)="searchCategory(seachInput.value)"><i class="fas fa-search"
          style="margin-right: 5px;"></i> Search</button>
    </div>
  </div>

  <board-category-form *ngIf="isDisplayCtgrForm" [category]="selectedCategory"
    (closeFormEvent)="closeForm($event, 'ctgr')" [type]="ctgrType"></board-category-form>
  <board-destroy-form *ngIf="isDisplayDestroyForm" [value]="valueWillBeDestroyed" [id]="selectedCategory.id"
    title="Category" (closeFormEvent)="closeForm($event, 'destroy')"></board-destroy-form>

  <div class="relative sm:rounded-lg">
    <!-- CTGR Table -->
    <table class="category__table w-full">
      <thead class="uppercase">
        <tr>
          <th style="width: 5%;">
            <div class="center-checkbox" style="margin-top: 5px;">
              <input id="checkbox-all-search" type="checkbox">
              <label for="checkbox-all-search" class="sr-only">checkbox</label>
            </div>
          </th>
          <th style="width: 20%;">
            Name
          </th>
          <th style="width: 20%;">
            Logo
          </th>
          <th style="width: 15%;">
            Color
          </th>
          <th style="width: 40%;">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          *ngFor="let ctgr of categories;">
          <td style="width: 5%;">
            <div class="center-checkbox" style="margin-top: 10px;">
              <input id="checkbox-all-search" type="checkbox">
              <label for="checkbox-all-search" class="sr-only">checkbox</label>
            </div>
          </td>
          <td style="width: 20%;">
            {{ ctgr.name }}
          </td>
          <td style="width: 20%;">
            <div class="table__img">
              <img [src]="ctgr.logo" [alt]="ctgr.name + ' logo'">
            </div>
          </td>
          <td style="width: 15%;">
            <span class="color hovertext" data-hover="Click 2 copy"
              [ngStyle]="{ 'background-color': ctgr.color, 'color':  invertColor(ctgr.color, true) }"
              [copy2clipboard]="ctgr.color" (click)="copyColor($event)">{{ ctgr.color
              }}</span>
          </td>
          <td style="width: 40%;">
            <button class="btn btn--blue mr-10" (click)="openForm('ctgr', ctgr)">Update</button>
            <button class="btn btn--red" (click)="openForm('destroy', ctgr)">Destroy</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>


  <board-loader></board-loader>
</div>