<div class="header">
  <a routerLink="/" class="header__logo">Blogify</a>
  <div class="header__search">
    <input class="input input--search" placeholder="Articles..." />
    <button class="btn btn--green">Search</button>
  </div>
  <div class="header__admin">
    <span class="header__notify mr-10">
      <i class="fas fa-light fa-bell"></i>
    </span>
    <span style="font-size: 16px;">Hello, <span class="text-half-highlight font-semibold">{{ userEmail | strShortener
        }}</span></span>
    <span class="avatar">
      <img src="assets/images/programmer.jpeg" class="img--avatar" />
    </span>
    <span><i class="fas fa-sign-out-alt" (click)="logout()"></i></span>
  </div>
</div>