<div class="posts">
  <div class="posts__actions">
    <div>
      <button class="btn btn--green" routerLink="/write">Write Post</button>
      <button class="btn btn--yellow" (click)="reset()">Reset</button>

      <div class="posts__sort-box inline-block">
        <button class="btn btn--purple" (click)="isDropdown = !isDropdown">Sort By <i class="fas fa-chevron-down"
            style="margin-left: 5px;"></i></button>
        <div class="dropdown" *ngIf="isDropdown">
          <ul (click)="sortPost($event)">
            <li data-typesort="title">A-Z</li>
            <li data-typesort="created_at">Newest</li>
            <li data-typesort="like">Likes</li>
            <li data-typesort="view">Views</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="posts__search-box">
      <input type="text" placeholder="Search post name..." #searchInput (keyup.enter)="searchPost(searchInput.value)" />
      <button class="btn btn--green" (click)="searchPost(searchInput.value)"><i class="fas fa-search"
          style="margin-right: 5px;"></i>
        Search</button>
    </div>
  </div>

  <board-post-card *ngFor="let p of posts" [post]="p"></board-post-card>
</div>
<board-pagination *ngIf="pages" [totalPages]="pages" (onPage)="paginate($event)"></board-pagination>