@import "../../../styles";

.img-uploader {
  border: 2px dashed $green-1;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  @include center-item();

  &__drag {
    width: 100%;
    height: 100%;
    @include center-item();
    flex-direction: column;
  }

  &.active {
    border: 2px solid $green-2;
  }

  &__icon {
    font-size: $big-text;
    color: $green-2 ;
  }

  header {
    font-size: $small-text;
    font-weight: 600;
    color: $green-2 ;
  }

  span {
    font-size: $small-text;
    font-weight: 500;
    color: $text-color;
    margin-top: 1.2rem;
  }

  button {
    padding: 10px 25px;
    font-size: $small-text;
    font-weight: 600;
    border: none;
    outline: none;
    background: transparent;
    color: $green-2 ;
    border-radius: 5px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $secondary-color;
    }
  }
  
  &__img {
    height: 90%; 
    width: 95%; 
    border-radius: 5px;
    position: relative;
    transition: $transition;

    &:hover button {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      border-radius: 5px;
    }

    button {
      background: rgb(0, 255, 0);
      overflow-wrap: break-word;
      white-space: break-spaces;
      font-feature-settings: "liga" 0;
      box-sizing: border-box;
      position: absolute;
      top: 5px;
      right: 5px;
      border: 0px none;
      margin: 0px;
      padding: 0px;
      border-radius: 4px;
      width: 24px;
      height: 24px;
      display: inline-block;
      cursor: pointer;
      opacity: 0;
      transition: $transition;
      z-index: 1;
      @include center-item();

      &:hover {
        background: rgb(0, 255, 0);
      }

      &:hover i {
        transform: rotate(360deg);
      }
    }

    i {
      font-size: 1.7rem;
      color: $text-color;
      transition: $transition;
    }
  }
}