@import "../../../styles";

.wf {
  padding: 4rem;
  &__form {
  }

  &__head {
    display: grid;
    grid-template-columns: 50% 48%;
    place-items: center;
    column-gap: 2%;

    & > * {
      background-color: white;
      padding: 4rem 3rem;
      width: 100%;
      height: 100%;
      border-radius: .7rem;
      box-shadow: rgba($green-1, 0.27) 0px 3px 8px;
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: $primary-color;
    margin-bottom: 2rem;
  }

  input, select {
    margin-top: 1rem;
    width: 100%;
  }

  &__input-group {
    margin: 2rem 0;
  }
}

.form__label {
  margin-bottom: .5rem;
}

.form__drag-area {
  width: 100%;
  height: 30rem;
}