<div class="wf">
  <form class="wf__form">
    <section class="wf__head">
      <div class="wf__head--left">
        <h3 class="wf__heading">
          Required Info
        </h3>
        <div>
          <div class="wf__input-group">
            <h3 class="form__label">Title</h3>
            <board-tip [tipList]="['Be specific and imagine you’re a person who read this content.']"></board-tip>
            <input type="text" placeholder="e.g. How to implement socket in Node.js using Socket.io" />
          </div>
          <div class="wf__input-group">
            <h3 class="form__label">Permalink</h3>
            <board-tip [tipList]="['Coming soon...']"></board-tip>
            <input type="text" placeholder="e.g. How to implement socket in Node.js using Socket.io" />
          </div>
          <div class="wf__input-group">
            <h3 class="form__label">Excerpt</h3>
            <board-tip
              [tipList]="['Stay Within 20-30 Words.', 'Compliment the Headline, Don\'t Repeat It.', 'Tease Commentary From the Story', 'Introduce the Author']"></board-tip>
            <textarea></textarea>
          </div>
        </div>
      </div>
      <div class="wf__head--right">
        <h3 class="wf__heading">
          Extra Info
        </h3>
        <div>
          <div class="wf__input-group">
            <h3 class="form__label">Select a post category</h3>
            <board-tip [tipList]="['Choose technologies and mentioned in the article.']"></board-tip>
            <select>
              <option value="Node.js">Node.js</option>
              <option value="C">C</option>
              <option value="JavaScript">JavaScript</option>
            </select>
          </div>
          <div class="wf__input-group">
            <h3 class="form__label">Post image</h3>
            <board-tip [tipList]="['Allowed: jpeg, jpg, png.']"></board-tip>
            <div class="form__drag-area mt-10" #dragArea (dragover)="onDragOver($event)" (dragleave)="onDragLeave()"
              (drop)="onDrop($event)">
              <input type="file" hidden #inputFileImg (change)="onChange($event)" required>
              <div *ngIf="!file" class="drag">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <header #dragText>Drag & Drop</header>
                <span>OR</span>
                <button #btnFileImg (click)="browseFileImg()">Browse File</button>
              </div>
              <img *ngIf="file" class="ctgr-logo" [src]="imgUrl" alt="image">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wf__body">
      <div class="wf__editor">

      </div>
      <div class="wf__content-info">

      </div>
    </section>
  </form>
</div>