<div class="wf">
  <form [formGroup]="form" class="wf__form">
    <section class="wf__head">
      <div class="wf__head--left">
        <h3 class="wf__heading">
          Required Info
        </h3>
        <div>
          <div class="wf__input-group">
            <h3 class="form__label">Title</h3>
            <board-tip
              [tipList]="['You might find that you have a better idea of your title after writing out the rest of the question.']"></board-tip>
            <input type="text" placeholder="e.g. How to implement socket in Node.js using Socket.io"
              formControlName="title" (input)="onTitleChanged($any($event))" />
          </div>
          <div class="wf__input-group">
            <h3 class="form__label">Permalink</h3>
            <board-tip
              [tipList]="['Always be SEO-friendly URLs that are both easy for people to remember and for search engines to make sense of.']"></board-tip>
            <input type="text" placeholder="e.g. https://www.blogify.com/what-is-permalink/"
              formControlName="permalink" />
          </div>
          <div class="wf__input-group">
            <h3 class="form__label">Excerpt | TL;DR</h3>
            <board-tip
              [tipList]="['Stay Within 20-30 Words.', 'Compliment the Headline, Don\'t Repeat It.', 'Tease Commentary From the Story', 'Introduce the Author']"></board-tip>
            <textarea formControlName="excerpt"></textarea>
          </div>

          <div class="wf__input-group">
            <h3 class="form__label">Select a post category</h3>
            <board-tip [tipList]="['Choose technologies and mentioned in the article.']"></board-tip>
            <ng-select [multiple]="true" (add)="addCategory($event)" (clear)="deleteCategory($event)"
              (remove)="deleteCategory($event)">
              <ng-option *ngFor="let ctgr of categories" [value]="ctgr.name">{{ctgr.name}}</ng-option>
            </ng-select>
          </div>

        </div>
      </div>
      <div class="wf__head--right">
        <h3 class="wf__heading">
          Extra Info
        </h3>
        <div>
          <div class="wf__input-group">
            <h3 class="form__label">References Links</h3>
            <board-tip
              [tipList]="['Cite the resource you referenced for the article (1 resource / 1 line).']"></board-tip>
            <!-- <textarea formControlName="references" (input)="autoDetectLink()"></textarea> -->
            <div class="urlarea">
              <span *ngFor="let r of references; let i = index" class="urlarea__link"><a href="r"
                  class="text-haft-highlight" target="_blank">{{ r }}</a> <i class="fas fa-close"
                  style="margin-left: 5px; cursor: pointer; color: red;" (click)="removeLink(i)"></i></span>
              <input class="urlarea__input" type="text" (input)="autoDetectLink($any($event))"
                placeholder="Paste link here" (keydown.enter)="false">
            </div>
          </div>
          <div class="wf__input-group">
            <h3 class="form__label">Post image</h3>
            <board-tip
              [tipList]="['Allowed: jpeg, jpg, png.', 'Image size must be less than 5MB.', 'Drag & Drop new image OR hover on image and click change icon at top right position for changing other one.']"></board-tip>
            <board-image-uploader formControlName="image" [style]="{ 'height': '35rem', 'margin': '1rem 0' }"
              (changeImage)="onImageChange($event)">
            </board-image-uploader>
          </div>
        </div>
      </div>
    </section>
    <section class="wf__body">
      <div class="wf__editor">
        <h3 class="wf__heading">
          Content Editor
        </h3>
        <div class="wf__input-group">
          <h3 class="form__label">Post Content</h3>
          <board-tip [tipList]="['Easy to understand.']"></board-tip>
          <div style="margin-top: 1rem;">
            <quill-editor [styles]="{height: '400px', backgroundColor:'#faf8f8'}" formControlName="content"
              [modules]="quillEditorModules" (onEditorCreated)="exportStats()" (onContentChanged)="exportStats()">
            </quill-editor>
            <!-- <quill-view-html [content]="form.value.content" theme="snow"></quill-view-html> -->
          </div>
        </div>
      </div>
      <div class="wf__content-info">
        <h3 class="wf__heading">
          Content Info
        </h3>
        <div class="wf__info" *ngFor="let s of getFieldsInStats()">
          <div class="wf__info-group" *ngIf="s !== 'headingList'; else headingListTemplate">
            <span class="key">{{ s }}: </span>
            <span class="value">{{ stats[s] }}</span>
          </div>

          <ng-template #headingListTemplate>
            <span class="heading-key">{{ s }}: </span>
            <ng-container *ngFor="let hd of stats[s]">
              <p
                [ngClass]="{'menu--heading': hd.nodeName === 'H1', 'menu--sub-heading': hd.nodeName === 'H2', 'menu--sub-sub-heading': hd.nodeName === 'H3'}">
                <span><i
                    [ngClass]="'fas ' + (hd.nodeName === 'H1' ?  'fa-plus' : (hd.nodeName !== 'H2' ? 'fa-caret-right' : 'fa-stop'))"></i></span>
                <span [innerHTML]="hd.innerHTML"></span>
              </p>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </section>

    <button ngClass="btn btn--green" (click)="onSubmit()">Publish <i class="fas fa-upload"></i></button>
    <button ngClass="btn btn--purple" (click)="preview()">Preview <i class="fas fa-eye"></i></button>
  </form>

  <board-loader></board-loader>
</div>