@import "../../../styles";

.wf {
  padding: 4rem;

  &__head, &__body {
    display: grid;
    column-gap: 2%;

    & > * {
      background-color: white;
      padding: 4rem 3rem 2rem;
      width: 100%;
      height: 100%;
      border-radius: .7rem;
      box-shadow: rgba($green-1, 0.27) 0px 3px 8px;
    }
  }

  &__head {
    grid-template-columns: 50% 48%;
    place-items: center;
  }

  &__body {
    margin: 3rem 0;
    grid-template-columns: 68% 30%;
    place-items: start;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: $primary-color;
    margin-bottom: 2rem;
  }

  input, select {
    margin-top: 1rem;
    width: 100%;
  }

  &__input-group {
    margin: 2rem 0;
  }


}

.form__label {
  margin-bottom: .5rem;
}

::selection { background-color: $primary-color; color: white; }

:host ::ng-deep .emoji_completions>li>button:hover {
  background: $primary-color;
  color: #fff;
}

:host ::ng-deep .emoji_completions>li>button:focus {
  background: $primary-color;
  color: #fff;
  outline: none
}

:host ::ng-deep .emoji_completions>li>button.emoji-active {
  background: red;
  background: $primary-color;
  color: #fff;
  outline: none
}

:host ::ng-deep .emoji_completions > li > button {
  background: #efefef;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  @include center-item();
  justify-content: flex-start;
  margin: 0;
  padding: 8px 10px 8px;
  text-align: left;
  width: 100%;
}

:host ::ng-deep .emoji_completions > li > button .unmatched {
  transform: translateY(2px);
  margin-left: 4px;
}

:host ::ng-deep #tab-panel {
  gap: 4px;
  padding: 10px 2px;
}

:host ::ng-deep #emoji-palette {
  border: 1px solid rgba($green-1, 0.27);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba($green-1, 0.27);
  max-width: 250px;
  position: absolute;
  z-index: 999;
  top: 22px;
  left: 90px;
}

:host ::ng-deep .ql-snow .ql-editor pre.ql-syntax {
  background-color: #000;
  color: $primary-color;
  overflow: visible;
}