<div class="wf">
  <form [formGroup]="form" class="wf__form">
    <section class="wf__head">
      <div class="wf__head--left">
        <h3 class="wf__heading">
          Required Info
        </h3>
        <div>
          <div class="wf__input-group">
            <h3 class="form__label">Title</h3>
            <board-tip
              [tipList]="['Should summarize the post.', 'You might find that you have a better idea of your title after writing out the rest of the question.']"></board-tip>
            <input type="text" placeholder="e.g. How to implement socket in Node.js using Socket.io"
              formControlName="title" />
          </div>
          <div class="wf__input-group">
            <h3 class="form__label">Permalink</h3>
            <board-tip
              [tipList]="['A URL (of a specific blog post) that should remain unchanged once the page is published.', 'Always be SEO-friendly URLs that are both easy for people to remember and for search engines to make sense of.']"></board-tip>
            <input type="text" placeholder="e.g. https://www.blogify.com/what-is-permalink/"
              formControlName="permalink" />
          </div>
          <div class="wf__input-group">
            <h3 class="form__label">Excerpt | TL;DR</h3>
            <board-tip
              [tipList]="['Stay Within 20-30 Words.', 'Compliment the Headline, Don\'t Repeat It.', 'Tease Commentary From the Story', 'Introduce the Author']"></board-tip>
            <textarea formControlName="excerpt"></textarea>
          </div>
        </div>
      </div>
      <div class="wf__head--right">
        <h3 class="wf__heading">
          Extra Info
        </h3>
        <div>
          <div class="wf__input-group">
            <h3 class="form__label">Select a post category</h3>
            <board-tip [tipList]="['Choose technologies and mentioned in the article.']"></board-tip>
            <select formControlName="categories">
              <option value="Node.js">Node.js</option>
              <option value="C">C</option>
              <option value="JavaScript">JavaScript</option>
            </select>
          </div>
          <div class="wf__input-group">
            <h3 class="form__label">Post image</h3>
            <board-tip
              [tipList]="['Allowed: jpeg, jpg, png.', 'Image size must be less than 5MB.', 'Drag & Drop new image OR hover on image and click change icon at top right position for changing other one.']"></board-tip>
            <board-image-uploader formControlName="image" [style]="{ 'height': '35rem', 'margin': '1rem 0' }"
              (changeImage)="onImageChange($event)">
            </board-image-uploader>
          </div>
        </div>
      </div>
    </section>
    <section class="wf__body">
      <div class="wf__editor">
        <h3 class="wf__heading">
          Content Editor
        </h3>
      </div>
      <div class="wf__content-info">
        <h3 class="wf__heading">
          Content Info
        </h3>
      </div>
    </section>

    <button [ngClass]="'btn btn--green'" (click)="onSubmit()">Publish</button>
  </form>
</div>