@import "../../../styles";

.wf {
  padding: 4rem;

  &__head, &__body {
    display: grid;
    column-gap: 2%;

    & > * {
      background-color: white;
      padding: 4rem 3rem 2rem;
      width: 100%;
      height: 100%;
      border-radius: .7rem;
      box-shadow: rgba($green-1, 0.27) 0px 3px 8px;
    }
  }

  &__head {
    grid-template-columns: 50% 48%;
    place-items: center;
  }

  &__body {
    margin: 3rem 0;
    grid-template-columns: 68% 30%;
    place-items: start;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: $primary-color;
    margin-bottom: 2rem;
  }

  input, select {
    margin-top: 1rem;
    width: 100%;
  }

  &__input-group {
    margin: 2rem 0;
  }

  &__info-group {
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
    align-items: center;

    .key {
      font-size: $small-text;
      color: $blue-1;
      font-weight: 700;
    }

    .value {
      font-size: $small-text;
    }
  }

  .heading-key {
    font-size: $small-text;
    color: $blue-1;
    font-weight: 700;
  }
}

.form__label {
  margin-bottom: .5rem;
}

::selection { background-color: $primary-color; color: white; }

:host ::ng-deep .emoji_completions>li>button:hover {
  background: $primary-color;
  color: #fff;
}

:host ::ng-deep .emoji_completions>li>button:focus {
  background: $primary-color;
  color: #fff;
  outline: none
}

:host ::ng-deep .emoji_completions>li>button.emoji-active {
  background: red;
  background: $primary-color;
  color: #fff;
  outline: none
}

:host ::ng-deep .emoji_completions > li > button {
  background: #efefef;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  @include center-item();
  justify-content: flex-start;
  margin: 0;
  padding: 8px 10px 8px;
  text-align: left;
  width: 100%;
}

:host ::ng-deep .emoji_completions > li > button .unmatched {
  transform: translateY(2px);
  margin-left: 4px;
}

:host ::ng-deep #tab-panel {
  gap: 4px;
  padding: 10px 2px;
}

:host ::ng-deep #emoji-palette {
  border: 1px solid rgba($green-1, 0.27);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba($green-1, 0.27);
  max-width: 250px;
  position: absolute;
  z-index: 999;
  top: 22px;
  left: 90px;
}

:host ::ng-deep .ql-snow .ql-editor pre.ql-syntax {
  background-color: #000;
  color: $primary-color;
  overflow: visible;
}

:host ::ng-deep .ql-editor a, :host ::ng-deep .wf__info a {
  display: inline-block;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba($green-1, 0.35) calc(50% - 9px), rgba($green-1, 0.35) 100%);
  transition: all 120ms ease-in-out 0s;
  background-size: 100% 200%;
  background-position: 0px 0px;
  word-break: break-word;

  &:hover {
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), $green-1 calc(50% - 9px), $green-1 100%);
    background-position: 0px 100%;
  }
}

.menu--heading, .menu--sub-heading, .menu--sub-sub-heading {
  cursor: pointer;
  display: block;
  margin: .5rem 0;
  color: black ;
  margin-left: 1rem;

  i {
    color: $primary-color;
    margin-right: .7rem;
  }
}

.menu--heading {
  font-size: $small-text;
  font-size: 1.6rem;
}

.menu--sub-heading {
  font-size: 1.4rem;
  margin-left: 3rem;
}

.menu--sub-sub-heading {
  font-size: 1.2rem;
  margin-left: 5rem;
}

.urlarea {
  border-radius: .7rem;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
  margin-top: 1rem;

  &__link {
    padding: 1rem;
    background-color: $secondary-color;
    margin: 0 1rem 1rem 0;
  }

  &__input {
    padding: 1rem;
    border: none;
    outline: none;
  }
}

:host ::ng-deep .ng-select.ng-select-focused .ng-select-container::after {
  border-color: $primary-color;
}

:host ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: $primary-color;
}

:host ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  font-weight: 600;
}

:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  color: $primary-color;
  background-color: $secondary-color;
  font-weight: 600;
}