@import "../../../styles";

.posts {
  display: flex;
  justify-content: space-evenly;
  gap: .7rem;
  flex-wrap: wrap;

  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $green-1;
  }

  &__search-box {
    @include center-item();

    input {
      width: 40rem;
      display: inline-block;
      margin-right: 1rem;
      height: 4.8rem;
    }
  }

  &__sort-box {
    position: relative;
    display: inline-block;

    .dropdown {
      position: absolute;
      bottom: -17rem;
      left: 0;
      background-color: white;
      width: 100%;
      z-index: 2;
      border-radius: 6px;
      box-shadow: rgba($green-1, 0.7) 0 3px 8px;
    }

    li {
      padding: 1rem 2rem;
      transition: $transition;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}